
<div id="lists-container">
  <% @lists.each do |l| %>
    <div class="list">
    <h2 style="text-align: center"><%= link_to "#{l.name}", edit_board_list_path(@board, l), class: "text_link" %>
    <a><%= link_to image_tag("trashcan.png", alt: "x", class: "trashcan", style: "height: 15px"), board_list_path(@board, l), method: :delete, class: "text_link", title: "Delete" %></a>
    <h4 style="margin-block-start: 0em; margin-block-end: 0em;"><%= button_to 'New Task', new_list_task_path(l), method: :get, style: "width:200px; border-radius: 5px; border-width: 3px;", autofocus: @focus_task; %></h4>
    </h2>
    <% l.tasks.each do |task| %>
      <div id="task-card">
        <div>
          <h3 style="margin-block-start: 0; margin-block-end: 0;">
            <%= link_to task.name, edit_list_task_path(l, task), class: "text_link" %>
            <%= link_to image_tag("trashcan.png", alt: "x", class: "trashcan", style: "height: 12px"), list_task_path(l, task), method: :delete, class: "text_link", title: "Delete" %>
          </h3>
        </div>
      <h5><%= link_to task.description, edit_list_task_path(l, task), class: "text_link" %></h5>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

